html(style="text-align: center; margin: 0; padding: 0;")
  head
    title Zini's Playbook
    link(href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet")
    //    meta
  body(style="text-align: center; margin: 0; padding: 0; padding-top: 25px;")
    div(style="display: flex; flex-direction: row; text-align: center; align-items: center; flex-wrap: wrap; width: 90%; margin: 0 auto; max-width: 700px;")
      img(style="max-width: 275px; height: 288px; margin: 0 auto;" src='https://assets.handstandwith.us/web/images/zini.png')
      div(style="margin: 0 auto; max-width: 375px;")
        h1(style="text-align: left; font-size: 50px; font-family: 'Amatic SC'; color: gray; margin-bottom: 10px;" ) Zini's Playbook
        div(style="padding: 0; margin: 0 auto;  margin-bottom: 50px; color: gray; font-family: 'Amatic SC'; font-size: 30px;")
          p(style='padding: 0; margin: 0; text-align: left;') If it’s ever a tune that you’re missin’— 
          p(style='margin: 0; text-align: left;') the only thing keepin’ you from blissin’— 
          p(style='margin: 0; margin-left: 20px; text-align: left;') just remember Zini,
          p(style='margin: 0; margin-left: 20px; text-align: left;') the musical genie,
          p(style='margin: 0; text-align: left;') and give his old Playbook a listen.
    br
    div(style="width: 90%; margin: 0 auto;")      
      iframe(src="https://open.spotify.com/embed/user/rustyman2k/playlist/5GsE1gscQQpdtmrzGSUHUR" width="75%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="margin: 0 auto; max-width: 700px; min-width: 400px; margin-bottom: 50px;")
